html,
body,
#root,
.ant-layout {
    height: 100%;

}

.box {
    left: 30px;
    bottom: 23px;
    width: 90%;
    display: flex;
    position: absolute;
}

.box1 {
    display: none;
}

.enter:hover {
    display: block;
}